
<div class="container">
  <div class="data-table">
    <table class="table">
      <thead class="table__header">
        <tr>
          <th *ngFor="let columnHeading of columnHeadings">
            {{columnHeading}}
          </th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr *ngFor="let dataItem of displayedData">
          <td *ngFor="let colData of getColumnValue(dataItem)">
            {{colData}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table__footer-container">
    <div class="table__footer-items-per-page-container">
      <span>Items per page</span>
      <select class="table__footer-selector" [formControl]="qtySelector">
        <option *ngFor="let qty of qtySet">{{qty}}</option>
      </select>
    </div>
    <div class="table__footer-reader-container">
      <span>{{pageStats}}</span>
    </div>
    <div class="table__controls-container">
      <button class="table__controls-btn" (click)="goToFirstPage()"><i class="icon-first"></i></button>
      <button class="table__controls-btn" (click)="goToPrevPage()"><i class="icon-previous"></i></button>
      <button class="table__controls-btn" (click)="goToNextPage()"><i class="icon-next"></i></button>
      <button class="table__controls-btn" (click)="goToLastPage()"><i class="icon-last"></i></button>
    </div>
  </div>
</div>