$primary: #092C4C;
.container {
  position: relative;
  margin: 64px auto;
}
.data-table {
  overflow-x: scroll;
  position: relative;
  margin: 0 auto;
}
.table {
  border-collapse: collapse;
  &__header {
    text-align: left;
    background-color: $primary;
    color: #fff;
    th {
      padding: 16px;
    }
  }
  &__body {
    td {
      padding: 16px;
    }
  }
  &__footer-selector {
    margin-left: 8px;
  }
  &__controls-btn {
    border: none;
    margin-left: 4px;
    background: none;
    font-size: 20px;
    color: $primary;
    cursor: pointer;
  }
  &__footer-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-top: 16px;
    margin-right: 16px;
    align-items: center;
    right: 0;
  }
  &__footer-items-per-page-container {
    display: flex;
    margin-right: 16px;
  }
  &__footer-reader-container {
    margin-right: 16px;
  }
}