<h1>Display of the sample.csv file</h1>
<div class="error" *ngIf="error; else  table">
  {{error}}
</div>


<ng-template #table>
  <div class="data-table">
    <app-data-table *ngIf="jsonData.length; else loadingGif" [data]="jsonData" [qtySet]="[5, 25, 100, 200]">
    </app-data-table>
  </div>  
</ng-template>
<ng-template #loadingGif>
  <div class="data-table__spinner">
    <app-loading-bar></app-loading-bar>
  </div>
</ng-template>