h1 {
  text-align: center;
}
.error {
  background-color: #fff2f2;
  color: #ae0000;
  padding: 0 24px;
  height: 64px;
  display: flex;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
}
.data-table {
  width: 80%;
  margin: 0 auto;
  &__spinner {
    display: flex;
    justify-content: center;
  }
}