@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bs0wun');
  src:  url('fonts/icomoon.eot?bs0wun#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bs0wun') format('truetype'),
    url('fonts/icomoon.woff?bs0wun') format('woff'),
    url('fonts/icomoon.svg?bs0wun#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous:before {
  content: "\ea23";
}
.icon-next:before {
  content: "\ea24";
}
